@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Default CSS Styling */
*{
  font-family: 'Playfair Display';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

html, body{
  height: 100%;
  width: 100%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: rgb(138, 128, 114) !important; */
  color: blanchedalmond;
  font-family: 'Playfair Display' !important;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

/* .header{
  background-color: aqua;
} */

/* TRY ADDING A SECTION CLASS TO STYLE EACH SECTION THAT GETS RENDERED */


/* Navigation */
.custom-navbar{
  background-color: rgb(132, 166, 196);
}

.navLink {
  /* display: flex; */
  /* align-items: center; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  letter-spacing: 0.8px;
}
/* '>' targets the  children of .navLink */
.navLink > .nav-item {
  margin-right: 10px;
}

.navLink > .nav-item > .nav-link {
  color: #333232;
  font-size: 25px;
  text-decoration: none;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.navLink > .nav-item > .nav-link:hover {
  color: #cadecc; 
}

.navLink > .nav-item > .nav-link.active-link {
  font-size: 50px;
  font-weight: bold;
}


/* About Me */
.about{
  margin-top: 0;
  padding: 260px 0 100px 0;
}

.about img{
  height: auto;
  width: 40%;
  border-radius: 20%;
}

.about p{
  color: rgb(190, 188, 188);
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  /* width: 96%; */
}


/* Footer */
.footer{
  padding: 0 0 50px 0;
}

.social-icon a{
  display: inline-block;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  margin-right: 6px;
  line-height: 1;
  border: 1px solid black;
}

.social-icon img{
  height: 50px;
  width: 50px;
}

.social-icon a::before{
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: #cadecc;
  border-radius: 50px;
  transform: scale(0);
  transition: 0.3s ease-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a:hover img{
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(90%) hue-rotate(346deg) brightness(90%);
}

.App {
  text-align: center;
}

/*  PART THAT SAYS MY NAME */
.App-header {
  background-color: rgb(146, 104, 40);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(160, 49, 49);
}

.App-link {
  color: #61dafb;
}