@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.headerContent{
  height: fit-content;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
}
.logo{
  padding: 10px;
  margin-right: auto;
  color: rgb(196, 243, 243);
}

footer{
  height: 10vh;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-section {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 120px);
  overflow-y: auto; 
  padding: 20px;
  background-color: aliceblue;
}

.proj-img{
  width: 100%;
  height: auto;
}

.proj-imgbx{
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}
.proj-imgbx::before{
  content: "";
  background: linear-gradient(90.21deg, #bc9e51 -5.91%, #bebc42 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before{
  height: 100%;
}
.proj-txtx{
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx{
  top: 50%;
  opacity: 1;
}
.proj-txtx h4{
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span{
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

#projectLinks{
  list-style-type: none;
}

#projectLinks a{
  text-decoration: none;
  color: rgb(197, 241, 241);
}

/* Navigation */
.custom-navbar{
  background-color: rgb(132, 166, 196);
}

.navLink {
  list-style-type: none;
  margin: 0;
  padding: 0;
  letter-spacing: 0.8px;
}
/* '>' targets the  children of .navLink */
.navLink > .nav-item {
  margin-right: 10px;
}

.navLink > .nav-item > .nav-link {
  color: #333232;
  font-size: 25px;
  text-decoration: none;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.navLink > .nav-item > .nav-link:hover {
  color: #cadecc; 
}

.navLink > .nav-item > .nav-link.active-link {
  font-size: 50px;
  font-weight: bold;
}

/* About Me */
.profilePic{
  height: auto;
  width: 15%;
  border-radius: 20%;
}

.about p{
  color: rgb(190, 188, 188);
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
}

/* Footer */
.social-icon img{
  height: 50px;
  width: 50px;
}

.social-icon a{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 6px;
  line-height: 1;
  border: 1px solid black;
  background-color: whitesmoke;
}

.social-icon a:hover{
  background-color: #cadecc;
  transition: 0.3s ease-out;
}

.social-icon a:hover img{
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(90%) hue-rotate(346deg) brightness(90%);
}
